.newDishes {
    margin-top: 100px;
}

.newDishes>h1{
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 12px;
}

.newDishes>.underline{
    width: 100px;
    height: 4px;
    background-color: #333;
    margin: 0 auto 30px auto;
} 


.navbar-collapse li{
    margin: 0 20px;
}

.card{
    box-shadow: 0 50px 50px #757676;
    transform: all 0.25s ease;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-out;
    background-color: rgba(208, 255, 253, 0.336);
    z-index: 10;
}