body {
    margin: 0;

}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.header-button ul {
    display: flex;
    justify-content: center;
    li {
        padding: 10px 20px;
        list-style: none;
        a {
            text-decoration: none;
            color: #3A3CEE;
        }
    }
}

.header-logo {
    display: block;
    margin: 0 auto;

    img {
        width: 150px;
    }
}

.header-search {
    margin: 25px auto;

    input {
        padding: 5px 0;
        width: 300px;
    }

    button {
        color: white;
        background-color: #EF9C00;
        border: none;
        padding: 6px 3px;
    }
}

.banner-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;

    img {
        width: 100%;
    }
}

.seller-tittle {
    text-align: center;
    font-size: 2.5em;
    color: red;
}

.seller-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    line-height: 1.5em;
    font-size: 1.15em;
    text-align: justify;
    padding-right: 50px;

    span {
        color: #EF9C00;
        font-style: italic;
        font-weight: bold;
    }

}

.newyear-tittle {
    text-align: center;
    color: red;
    font-size: 2.5em;
}

.newyear-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 50px 20px;

    .newyear-img {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        box-shadow: -5px 5px 10px 0 rgb(94, 88, 88);
        width: 400px;
    }

    img {
        width: 350px;
        height: 300px;
        padding: 0;
    }

    .img-tittle {
        margin-top: 10px;
        background-color: #d88d03;
        width: 100%;
        text-align: center;
        color: white;
    }
}

.footer {
    background-color: #d88d03;
    color: white;
    margin: 0;
    padding: 15px 0;
    text-align: center;
}

@media screen and (max-width: 768px) {
    body {
        margin: 0;
    }

    .header {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }
}