/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 15, 2025, 7:00:02 PM
    Author     : Tung Tung
*/
@font-face {
    font-family: 'SF Pro Display';
    src: url('path/to/SFPro-Regular.ttf') format('truetype');
    font-weight: 400;
    /* 400 */
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('path/to/SFPro-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('path/to/SFPro-Bold.ttf') format('truetype');
    font-weight: 400;
    /* 700 */
    font-style: normal;
}

body {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 400;
}


* {
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 100;
    width: 100%;
    padding: 10px 0;
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-list .nav-item {
    list-style: none;
    padding: 0 20px;

}

.nav-list .nav-link {
    text-decoration: none;
    color: white;
    font-size: 0.80rem;
}

.apple-logo {
    font-size: 1.5rem;
}

.banner {
    position: relative;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.btn-overlay {
    display: flex;
    justify-content: center;
}

.appleTV-banner-btn {
    a {
        text-decoration: none;
        color: white;
        font-size: 1.1rem;
        font-family: 'SF Pro Display';
    }

    padding: 12px 22px;
    background-color: #0077ed;
    border: none;
    border-radius: 50px;
    position: absolute;
    bottom: 130px;
}

.iphoneBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    h1 {
        font-size: 3.2rem;
        font-weight: 500;
    }

    h3 {
        font-size: 1.8rem;
        margin-top: 8px;
        font-weight: 400;
    }
}

.iphone13pro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 100%;
}

.iphone13pro img {
    width: 130%;
    height: auto;
    object-fit: cover;
    margin-top: 30px;
}

.iphone-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    button {
        a {
            text-decoration: none;
            color: #0077ed;
            font-family: 'SF Pro Display';
            font-weight: 400;
        }

        font-size: 1.1rem;
        padding: 12px 22px;
        background-color: white;
        border: none;
    }
}

.second-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 20px;
}

.second-row .iphone13 {
    display: flex;
    flex: 2;

}

.iphone13-left {
    flex: 1;
    display: flex;

    img {
        width: 100%;
    }
}

.iphone13-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 3.5rem;
        font-weight: 500;
    }

    h3 {
        font-size: 1.8rem;
        margin-top: 8px;
        font-weight: 400;
    }

}

.second-row .airpod {
    display: flex;
    flex: 2;
    position: relative;

    img {
        width: 100%;
    }

    .airpod-btn {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: rgba(0, 0, 0, 0.05); */
        width: 100%;
        
        
        .airpod-btn-btn {
            border: 2px solid rgb(245, 245, 245);
            border-radius: 50px;
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-family: 'SF Pro Display';
            font-weight: 400;
            font-size: 1.2rem;
            padding: 12px 20px;
            margin: 0 15px;
            background-color: rgba(0, 0, 0, 0.15);
        }
    }
}